---

---


{% include header.html %}


<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="left-header">
          <h1>News</h1>
          <h3>Update from studio</h3>
          <p>
            Get all information about our studio from latest news post & updates page.
          </p>
        </div>
      </div>
      <div class="right-header">
        <div class="col-sm-6">
          <div class="blog grid-item right-header-img">
            <div class="images">
            <a href="blog-detail.html"><img src="images/blog-images/blog-1.jpg" /></a>
            <div class="blog-date "><p>24</p><small>JULY 2017</small></div>
            </div>
              <div class="blog-info ">
                <p>This is a sample news post title content or sample post heading.</p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



  <!-- -----------------------main section -------------------------- -->
<section class="blog-main-section">
  <div class="container">
    <div class="row">
      <div class="grid">
        {% for blog in site.posts %}
          <div class="grid-item col-sm-6" data-aos="fade-up">
            <div class="images">
              <a href="avana/{{ blog.url }}"><img src="images/blog-images/{{ blog.images }}" /></a>
              <div class="blog-date "><p>24</p><small>JULY 2017</small></div>
            </div>
            <div class="blog-info ">
              <p>{{ blog.post_title }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>





{% include footer.html %}
