<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet">
  <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
</head>
<body>
<section class="navbar">
<div class="container">
  <img src="images/logo.png" />

  <input id="burger" type="checkbox" />

  <label for="burger">
    <span></span>
    <span></span>
    <span></span>
  </label>

  <nav>
    <ul>
      <li><a href="index.html">Work</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="blog.html">BLog</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</div>
</section>
