---


---
{% include header.html %}



<section class="blog-detail-hero">
  <h3 class="center"><span>18 </span>JANUAREY 2018</h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 blog-detail" data-aos="fade-up">
        <h2>Hello,
I signed up for a Micro account today at github and created a repository called Hello-World. These were the steps given to me at github upon clcking the Create.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 blog-details-image" data-aos="fade-up">
        <img src="images/blog-images/blog-details-image.jpg" width="97%"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 blog-detail-info" data-aos="fade-up">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p>
          The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <hr />
    <h3 class="comment-count" data-aos="fade-up">3 Comments</h3>
    <hr />
    <div class="row" data-aos="fade-up">
      <div class="col-sm-1 col-xs-1">
        <div class="client-comment-img">
          <img src="images/blog-images/image-1.jpg" />
        </div>
      </div>
      <div class="col-sm-11 col-xs-11 client-comment">
        <div class="">
          <h4>Anna Greenfield</h4> <a href="#">Replay</a>
          <p>
            Januarey 1, 2018
          </p>
        </div>
        <div class="comment">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

        </div>
        <hr />
      </div>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="col-sm-1 col-sm-offset-1 col-xs-1 col-xs-offset-1">
        <div class="client-comment-img">
          <img src="images/blog-images/image-2.jpg" />
        </div>
      </div>
      <div class="col-sm-10 col-xs-10 client-comment">
        <div class="">
          <h4>Joheathan Doe</h4> <a href="#">Replay</a>
          <p>
            Januarey 1, 2018
          </p>
        </div>
        <div class="comment">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

        </div>

      </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xs-12">
          <hr />
        </div>
    </div>
    <div class="row" data-aos="fade-up">
      <div class="col-sm-1 col-xs-1">

        <div class="client-comment-img">
          <img src="images/blog-images/image-3.jpg" />
        </div>
      </div>
      <div class="col-sm-11 col-xs-11 client-comment">
        <div class="">
          <h4>Anna Greenfield</h4> <a href="#">Replay</a>
          <p>
            Januarey 1, 2018
          </p>
        </div>
        <div class="comment">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>

        </div>

      </div>

    </div>
    <hr />
    <h3 class="comment-count" data-aos="fade-up">Leave a comment</h3>
    <div class="row post-comment-details" data-aos="fade-up">
      <div class="col-sm-4">
        <input type="text" placeholder="Whats Your Name *" />
      </div>
      <div class="col-sm-4">
        <input type="text" placeholder="Whats Your Email *" />
      </div>
      <div class="col-sm-4">
        <input type="text" placeholder="Running Your Website *" />
      </div>
    </div>
    <div class="row post-comment-details" data-aos="fade-up">
      <textarea rows="2" placeholder="Whats in your Mind"></textarea>
    </div>
    <div class="row" data-aos="fade-up">
        <div class="col-sm-4 col-sm-offset-4 col-xs-6 col-xs-3">
          <div class="btn">
            <button type="submit"> POST COMMENT</button>

          </div>
        </div>
    </div>
  </div>
</section>

{% include footer.html %}
