---

---
{% include header.html %}

<!-- -----------------------header section -------------------------- -->

  <section class="header-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="left-header">
            <h1>avana</h1>
            <h3>A Brand New Agency.</h3>
            <p>
              This is the story of Avana, a minimal Bootstrap template for creative agency.
            </p>

          </div>

        </div>
        <div class="right-header">
           <div class="grid-item col-sm-6 animation-element">
               <a href="project-detail.html">
                  <div class="images">
                     <img src="images/home-images/image-1.jpg" />
                     <div class="img-hover-effact"></div>


                     <div class="img-hover-border">
                       <div class="project-deatils"><p>Studio thonix<strong>EXIBUTION</strong></p></div>
                       <div class="project-detail-containt">personal brand identity.</div>


                     </div>
                   </div>
               </a>
           </div>
        </div>
      </div>

    </div>

  </section>
{{ content }}


{% include footer.html %}
